.page-main{
    min-height: 50%;
    border-radius: 1%;
    background: #d8d8d5;
}
.head {
    font: Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(21, 131, 21);
}
.imgs1 {
    height: 1%;
    border-radius: 100%;
}
.headRight{
    font: Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: rgb(75, 5, 238);
}
.item{
    min-height: 30%;
    width: 45%;
    border-radius: 1%;
    background: #ffffff;
}
.info{
    border-radius: 5%;
    background: #77eccf;
}
.positioned{
    position: fixed;
    padding-left: 5%;
}
.imgs2 {
    height: 10rem;
}
.mesage {
    font: Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(252, 5, 5);
}